<nav class="toggle-switch" id="toggle-switch">
    <div class="logo-search">
        <img src="/img/logo-NUS.jpg" alt="" class="logo" id="logo">
        <label for="search-hashtag" class="search-container">
            <i id="back-icon" class="back-icon fa fa-chevron-left"></i>
            <input type="text" name="search-hashtag" id="search-hashtag" placeholder="Tìm kiếm hashtag">
            <i id="search-icon" class="search-icon fa fa-search"></i>
            <i id="more-icon" class="more-icon fa fa-align-justify"></i>
        </label>
    </div>
    <ul id="nav">
        <li><a href="#">All</a></li>    
        <li>
            <a href="#">
                Cataloge A
                <i class="arrow down"></i>
            </a>
            <ul class="subnav">
                <li><a href="#">Cataloge A.1</a></li>
                <li><a href="#">Cataloge A.2</a></li>
                <li><a href="#">Cataloge A.3</a></li>
            </ul>
        </li>
        <li>
            <a href="#">
                Cataloge B
                <i class="arrow down"></i>
            </a>
            <ul class="subnav">
                <li><a href="#">Cataloge B.2</a></li>
                <li><a href="#">Cataloge B.2</a></li>
                <li><a href="#">Cataloge B.3</a></li>
            </ul>
        </li>
        <li>
            <a href="#">
                Cataloge C
            </a>
        </li>
    </ul>

    <div class="user_avatar">
        <img src="/img/avatar.jPG" alt="" class="avatar-user" id="avatar-user">
        <ul class="subnav subnav-user" id="subnav-user">
            <li>
                <a href="#">
                    <i class="fa-solid fa-user"></i>
                    Profile
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    Logout
                </a>
            </li>
        </ul>
    </div>
</nav>

<section class="listAcc" id="listAcc">
    <h1 class="listAcc-heading"> the report writer <span>table</span> </h1>
    <div class="container container-list my-3">
        <table class="listAcc-tb">
            <tr class="listAcc-tr">
                <th class="listAcc-th">Num</th>
                <th class="listAcc-th">Người report</th>
                <th class="listAcc-th">Người bị report</th>
                <th class="listAcc-th">Thời gian</th>
                <th class="listAcc-th">Action</th>
            </tr>
            <tr class="listAcc-tr">
                <td class="listAcc-td">1</td>
                <td class="listAcc-td">Trần Anh Đức</td>
                <td class="listAcc-td">Lê Việt Tân</td>
                <td class="listAcc-td">03/08/1993</td>
                <td class="listAcc-td">
                    <button class="listAcc-btn listAcc_btnViewReport"><i class="fa-solid fa-eye"></i></button>
                    <button class="listAcc-btn listAcc_btndelete" id="listAcc_btndelete"><i class="fa-solid fa-trash"></i></button>
                </td>
            </tr>
            <tr class="listAcc-tr">
                <td class="listAcc-td">2</td>
                <td class="listAcc-td">Trần Anh Đức</td>
                <td class="listAcc-td">Lê Việt Tân</td>
                <td class="listAcc-td">03/08/1993</td>
                <td class="listAcc-td">
                    <button class="listAcc-btn listAcc_btnViewReport"><i class="fa-solid fa-eye"></i></button>
                    <button class="listAcc-btn listAcc_btndelete" id="listAcc_btndelete"><i class="fa-solid fa-trash"></i></button>
                </td>
            </tr>
            <tr class="listAcc-tr">
                <td class="listAcc-td">3</td>
                <td class="listAcc-td">Trần Anh Đức</td>
                <td class="listAcc-td">Lê Việt Tân</td>
                <td class="listAcc-td">03/08/1993</td>
                <td class="listAcc-td">
                    <button class="listAcc-btn listAcc_btnViewReport"><i class="fa-solid fa-eye"></i></button>
                    <button class="listAcc-btn listAcc_btndelete" id="listAcc_btndelete"><i class="fa-solid fa-trash"></i></button>
                </td>
            </tr>
            <tr class="listAcc-tr">
                <td class="listAcc-td">4</td>
                <td class="listAcc-td">Trần Anh Đức</td>
                <td class="listAcc-td">Lê Việt Tân</td>
                <td class="listAcc-td">03/08/1993</td>
                <td class="listAcc-td">
                    <button class="listAcc-btn listAcc_btnViewReport"><i class="fa-solid fa-eye"></i></button>
                    <button class="listAcc-btn listAcc_btndelete" id="listAcc_btndelete"><i class="fa-solid fa-trash"></i></button>
                </td>
            </tr>
            <tr class="listAcc-tr">
                <td class="listAcc-td">5</td>
                <td class="listAcc-td">Trần Anh Đức</td>
                <td class="listAcc-td">Lê Việt Tân</td>
                <td class="listAcc-td">03/08/1993</td>
                <td class="listAcc-td">
                    <button class="listAcc-btn listAcc_btnViewReport"><i class="fa-solid fa-eye"></i></button>
                    <button class="listAcc-btn listAcc_btndelete" id="listAcc_btndelete"><i class="fa-solid fa-trash"></i></button>
                </td>
            </tr>
        </table>
    </div>

    <div class="confirmdig confirmdig-hide" id="confirmDialog-viewReport">
        <form id="dialogCont" class="dig-container" action="" method="post">
            <div class="dig-header">
                Chi tiết
            </div>
            <div id="digbody">
                <div class="dig-body"></div>
                <div id="reporter-name">
                    <div style="font-weight: bold; font-size: 18px;">Người report</div>
                    <div class="reporter-name">Trần Anh Đức</div>
                </div>
                <div id="reported-name">
                    <div style="font-weight: bold; font-size: 18px;">Người bị report</div>
                    <div class="reported-name">Lê Việt Tân</div>
                </div>
                <div id="reporte-reason">
                    <div style="font-weight: bold; font-size: 18px;">Lí do</div>
                    <div class="reporte-reason">
                        <div class="report-reason-child">Người dùng ảo</div>
                        <div class="report-reason-child">Spam</div>
                        </div>
                </div>
                <div id="report-time">
                    <div style="font-weight: bold; font-size: 18px;"> Thời gian report </div>
                    <div class="report-time">03/08/1993</div>
                </div>
            </div>

            <div class="dig-footer">
                <button type="button" class="confirmdig-btn btn-cancel" id="btnCancle-viewReport">Thoát</butt>
            </div>
        </form>
    </div>

    <div class="confirmdig confirmdig-hide" id="confirmDialog">
        <form id="dialogCont" class="dig-container" action="" method="post">
            <div class="dig-header">
                Confirm Deletion
            </div>
            <div id="digbody" class="dig-body">Are you sure you want to remove this report?</div>
            <div class="dig-footer">
                <button class="confirmdig-btn btn-delete">Delete</button>
                <button type="button" class="confirmdig-btn btn-cancel" id="btnCancle">Cancel</button>
            </div>
        </form>
    </div>
</section>