* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 100%;
    padding: 0;
}


/* Begin css frame big slogan image */

.slogan-image-frame {
    height: 18rem;
    border-bottom: 1px solid #e6e6e6;
    padding: 0;
}

.slogan-image-frame .slogan-image {
    height: 100%;
    width: 100%;
    animation: changeImages 18s infinite;
}

@keyframes changeImages {
    0% {
        background-image: url("/img/slogan-image1.jpg");
    }
    25% {
        background-image: url("/img/slogan-image2.jpg");
    }
    50% {
        background-image: url("/img/slogan-image3.jpg");
    }
    75% {
        background-image: url("/img/slogan-image4.jpg");
    }
    100% {
        background-image: url("/img/slogan-image5.jpg");
    }
}


/* End css frame big slogan image */


/* Begin css Toggle switch */

.logo-search .search-icon {
    display: none;
}

.logo-search .more-icon {
    display: none;
}

.toggle-switch {
    display: flex;
    width: auto !important;
    border-bottom: 1px solid #e6e6e6;
    background: rgba(228, 211, 187, 0.6);
    position: relative;
}

.toggle-switch #nav {
    list-style: none;
    justify-content: space-around;
    margin: 0 210px;
}

.toggle-switch #nav li {
    position: relative;
    display: inline-block;
    text-align: center;
}

.toggle-switch #nav li:hover,
.user_avatar #subnav-user li:hover {
    background: #bca27e;
}

.toggle-switch #nav li:hover>a,
.user_avatar #subnav-user li:hover>a {
    cursor: pointer;
    color: #fff;
}

.toggle-switch #nav li:hover .subnav {
    display: block;
    z-index: 9999;
}

.toggle-switch #nav>li>a,
.toggle-switch .subnav-user>li>a {
    position: relative;
    color: #000;
    text-decoration: none;
    font-size: 16px;
    line-height: 50px;
    padding: 13px 50px;
}

#nav li {
    position: relative;
}

#nav .subnav {
    position: absolute;
    background: rgba(228, 211, 187, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    display: none;
}

#nav .subnav>li {
    width: 100%;
    border-bottom: 1px solid #fff;
}

#nav .subnav>li:last-child {
    border-bottom: none;
}

#nav .subnav>li>a {
    position: relative;
    color: #000;
    padding: 15px 43px;
    text-decoration: none;
    line-height: 50px;
}

#nav .arrow {
    position: absolute;
    border: solid #000;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    top: 20px;
    right: 30px;
}

.toggle-switch #nav li:hover>a>i {
    border: solid #fff;
    border-width: 0 3px 3px 0;
}

#nav .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.toggle-switch .avatar-user {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
}

.logo-search .logo {
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    top: 2px;
    left: 20px;
}

.toggle-switch .subnav-user {
    left: 208px;
    top: 19px;
}

.logo-search .search-container {
    position: relative;
    margin: 0;
    left: 90px;
    line-height: 50px;
}

.search-container #search-hashtag {
    height: 35px;
    width: 210px;
    border-radius: 15px;
    border: none;
    padding: 10px;
}

.search-container #search-hashtag:focus {
    outline-color: #bca27e;
}

.user_avatar {
    position: absolute;
    right: 24px;
    top: 2px;
}

.user_avatar .subnav-user {
    list-style: none;
}

.user_avatar .subnav {
    position: absolute;
    background: #e4d3bb;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    display: none;
    top: 50px;
    left: -106px;
    z-index: 999;
}

.logo-search .back-icon {
    display: none;
}


/* End css Toggle switch */


/* Begin css sort button */

.blank-sort {
    display: flex;
    justify-content: end;
    padding: 8px 32px;
}

.blank-sort .sort-button {
    border: none;
    background: none;
    position: relative;
    height: 30px;
}

.blank-sort .sort-button i {
    background-color: rgba(228, 211, 187, 0.6);
    padding: 12px 30px;
    border-radius: 15px;
}

.blank-sort .sort-button i:hover {
    cursor: pointer;
    background-color: #bca27e;
    color: #fff;
}

.blank-sort .sort-button:hover {
    left: 31px;
}

.blank-sort .sort-button:hover .subnav {
    display: block;
    z-index: 9999;
}

.blank-sort .sort-button:focus {
    outline: none;
}

.sort-button .subnav {
    position: relative;
    list-style: none;
    background: rgba(228, 211, 187, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    margin-top: 2px;
    margin-bottom: 0;
    display: none;
    right: 20px;
}

.blank-sort .subnav li {
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #fff;
}

.blank-sort .subnav li:last-child {
    border-bottom: none;
}

.blank-sort .subnav a {
    text-decoration: none;
    text-align: center;
    color: #000;
    padding: 10px 30px;
}

.blank-sort .subnav li:hover {
    background: #bca27e;
}

.blank-sort .subnav li:hover>a {
    color: #fff;
}


/* End css sort button */


/* Begin css container-content */

.container-content .blog-frame {
    height: auto;
    width: auto;
    background-color: rgba(228, 211, 187, 0.6);
    margin: 50px 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container-content .blog-frame-child {
    width: auto;
    height: auto;
    margin: 20px 0px;
    position: relative;
    overflow: hidden;
    line-height: 2rem;
}

.container-content .blog-frame-child:hover>.blog-frame-child-introduce-bottom {
    cursor: pointer;
    display: block;
}

.container-content .blog-frame-child .blog-frame-child-introduce-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(228, 211, 187, 0.4);
    width: 100%;
    height: auto;
    color: rgb(241, 232, 232);
    padding: 10px;
    display: none;
    animation: modalSideslideUp ease .4s;
}

.blog-frame-child .blog-frame-child-introduce-bottom .btn-readmore {
    background-color: rgba(228, 211, 187, 0.7);
    border: none;
    border-radius: 12px;
    padding: 3px 6px;
    color: #000;
    margin-left: 5px;
    font-weight: bold;
    text-decoration: none;
}

.blog-frame-child .blog-frame-child-introduce-bottom .btn-readmore:hover {
    background-color: #bca27e;
    cursor: pointer;
    color: #fff;
}

.blog-frame-child .more-info-icon {
    position: absolute;
    top: 0;
    right: 0;
    color: #bca27e;
    padding: 10px;
}

.blog-frame-child .more-info-icon:hover {
    cursor: pointer;
    background-color: rgba(228, 211, 187, 0.6);
    color: #fff;
}

.blog-frame-child .more-info-subnav {
    position: absolute;
    background: rgba(228, 211, 187, 0.9);
    top: 44px;
    right: 8px;
    border-radius: 8px;
    list-style: none;
    display: none;
}

.blog-frame-child .more-info-subnav>li>a {
    line-height: 45px;
    padding: 12px;
    border-radius: 8px;
}

.blog-frame-child .more-info-subnav:hover>li>a {
    cursor: pointer;
    background: #bca27e;
    color: #fff;
}

.blog-frame-child .more-info-subnav a {
    text-decoration: none;
    color: #000;
}


/* End css container-content */


/* Begin css list account */

.listAcc-heading {
    text-align: center;
    color: #8f6b3a;
    text-transform: uppercase;
    padding-bottom: 3rem;
    font-size: 2.5rem;
}

.listAcc-heading span {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}

.listAcc {
    margin-top: 50px;
    height: 100%;
    padding: 10px;
}

.listAcc-tb {
    border: 1px solid #ccc;
    border-collapse: collapse;
    width: 100%;
}

.listAcc-th {
    border: 1px solid #ccc;
    text-align: center;
    padding: 10px;
    background-color: #efe5d6;
}

.listAcc-td {
    border: 1px solid #ccc;
    text-align: center;
    padding: 10px;
}

.listAcc-tr:hover {
    background-color: #fff3da;
    cursor: pointer;
}

.container-list {
    overflow: auto;
}

.listAcc-btn {
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 10px;
    color: #000000;
    background-color: #efe5d6;
}

.listAcc-btn:hover {
    background-color: #bca27e;
}


/* End css list account */


/* Begin css dialog*/


/* .confirmdig-hide {
    display: none;
} */

.confirmdig {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.6);
}

.dig-container {
    position: fixed;
    left: 50%;
    top: 30%;
    transform: translateX(-50%) translateY(-50%);
    width: 400px;
    background: #fff;
    padding: 10px;
    border: 2px solid #ddd;
    box-shadow: 1px 1px 5px 1px #ccc;
    border-radius: 10px;
    opacity: 1;
    transition: all 0.3s linear 0s;
}

.dig-header {
    text-align: center;
    padding: 10px;
    font-weight: bold;
    background: #efe5d6;
    color: #000000;
}

.dig-body {
    padding: 10px;
    line-height: 30px;
    text-align: center;
}

.dig-footer {
    text-align: center;
    background: #f5f5f2;
    padding: 3px 0;
}

.dig-footer a {
    display: inline-block;
    width: 100px;
    padding: 5px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #eee;
    cursor: pointer;
}

.dig-footer a:active {
    box-shadow: inset 2px 2px 4px 0#ccc;
    color: #666;
}

.dig-footer a:hover {
    background-color: #bca27e;
}


/* End css dialog */


/* Begin css footer */

#footer {
    padding: 8px 16px;
    text-align: center !important;
    background: rgba(228, 211, 187, 0.6);
}

#footer .share {
    padding-top: 2rem;
}

#footer .share a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    margin: .6rem;
    color: #000;
    opacity: 0.6;
}

.icon-footer:hover {
    opacity: 0.5;
}

#footer .links a:hover {
    opacity: 0.5;
}

#footer .credit {
    font-size: 1.25rem;
    color: rgb(0, 0, 0);
    font-weight: lighter;
    padding-bottom: 2rem;
}

#footer .credit a {
    color: rgb(0, 0, 0);
}

#footer .credit a:hover {
    opacity: 0.5;
    text-decoration: none;
}


/* End css footer */


/* Begin Tablet and Mobile Responsive */

@media (max-width: 81.375em) {
    .user_avatar {
        right: 24px;
        top: 6px;
    }
    .logo-search #search-hashtag {
        display: none;
    }
    #nav {
        display: flex;
        /* display: none; */
        flex-direction: column;
        justify-content: flex-start !important;
    }
    .toggle-switch {
        height: 60px;
    }
    .logo-search .logo {
        top: 6px;
    }
    .logo-search .search-container {
        top: 12px;
        left: 80px;
        display: flex;
        align-items: center;
    }
    .logo-search .search-icon {
        display: block;
        background: #f6f2ec;
        border-radius: 50%;
        padding: 10px;
    }
    .logo-search .search-icon:hover {
        cursor: pointer;
    }
    .toggle-switch #nav {
        margin: 70px 0 0 0;
        display: none;
        position: relative;
        right: 28px;
    }
    .toggle-switch .avatar-user {
        top: 6px;
        left: 570px;
    }
    .toggle-switch .subnav-user {
        right: 10px;
    }
    .logo-search .back-icon {
        padding: 10px;
    }
    .logo-search .back-icon:hover {
        cursor: pointer;
    }
    .logo-search .more-icon {
        display: block;
        background: #f6f2ec;
        border-radius: 50%;
        padding: 10px;
        margin-left: 20px;
    }
    .logo-search .more-icon:hover {
        cursor: pointer;
    }
    #nav .subnav {
        position: relative;
        top: -50px;
        left: 192px;
    }
    .toggle-switch #nav li {
        width: 12rem;
        height: 3rem;
    }
}

/* End Tablet and Mobile Responsive */

/* Begin Mobile Responsive */
@media (max-width: 46.188em) {
    .toggle-switch #nav {
        right: 88px;
    }

    .logo-search .search-container {
        left: 70px;
    }

    .logo-search .search-icon {
        margin-left: 10px;
    }
}
/* End Mobile Responsive */

/* Animation xuất hiện của Modal */

@keyframes modalSideslipIn {
    from {
        transform: translateX(-40px)
    }
    to {
        transform: translateX(0)
    }
}

@keyframes modalSideslideUp {
    from {
        transform: translateY(40px)
    }
    to {
        transform: translateY(0)
    }
}