* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 100%;
    padding: 0;
}

/* Start css frame big slogan image */
.slogan-image-frame {
    height: 18rem;
    border-bottom: 1px solid #e6e6e6;
    padding: 0;
}

.slogan-image-frame .slogan-image {
    height: 100%;
    width: 100%;
    animation: changeImages 18s infinite;
}

@keyframes changeImages {
    0% {
        background-image: url("/img/slogan-image1.jpg");
    }
    25% {
        background-image: url("/img/slogan-image2.jpg");
    }
    50% {
        background-image: url("/img/slogan-image3.jpg");
    }
    75% {
        background-image: url("/img/slogan-image4.jpg");
    }
    100% {
        background-image: url("/img/slogan-image5.jpg");
    }
}
/* End css frame big slogan image */

/* Start css Toggle switch */
.toggle-switch {
    display: flex;
    width: auto !important;
    border-bottom: 1px solid #e6e6e6;
    background: #e4d3bb;
}

.toggle-switch #nav {
    list-style: none;
    justify-content: space-around;
    margin: 0 210px;
}

.toggle-switch #nav li {
    position: relative;
    display: inline-block;
    text-align: center;
}

.toggle-switch #nav li:hover {
    background: #bca27e;
}

.toggle-switch #nav li:hover > a {
    cursor: pointer;
    color: #fff;
}

.toggle-switch #nav li:hover .subnav {
    display: block;
    z-index: 9999;
}

.toggle-switch #nav > li > a {
    position: relative;
    color: #000;
    text-decoration: none;
    font-size: 18px;
    line-height: 50px;
    padding: 13px 50px;
}

#nav li {
    position: relative;
}

#nav .subnav {
    position: absolute;
    background: #e4d3bb;
    box-shadow: 0 0 15px rgba(0,0,0, 0.4);
    display: none;
}

#nav .subnav > li {
    width: 100%;
}

#nav .subnav > li > a {
    position: relative;
    color: #000;
    padding: 15px 47px;
    text-decoration: none;
    line-height: 50px;
}

#nav .arrow {
    position: absolute;
    border: solid #000;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    top: 20px;
    right: 30px;
}

.toggle-switch #nav li:hover > a > i {
    border: solid #fff;
    border-width: 0 3px 3px 0;
}

#nav .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#nav .avatar-user {
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    top: -30px;
    left: 300px;
    cursor: pointer;
}

.logo-search .logo {
    position: absolute;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    top: 290px;
    left: 20px;
}

#nav .subnav-user {
    left: 208px;
    top: 19px;
}

.logo-search .search-container {
    position: relative;
    margin: 0;
    left: 90px;
    line-height: 50px;
}

.search-container #search-hastag {
    height: 35px;
    width: 210px;
    border-radius: 15px;
    border: none;
    padding: 10px;
}

.search-container #search-hastag:focus {
    outline-color: #bca27e;
}
/* End css Toggle switch */

/* Start css sort button */
.blank-sort {
    display: flex;
    justify-content: end;
    padding: 8px 32px;
}

.blank-sort .sort-button {
    border: none;
    background: none;
    position: relative;
    height: 30px;
}

.blank-sort .sort-button i {
    background-color: #e4d3bb;
    padding: 12px 30px; 
    border-radius: 15px;
}

.blank-sort .sort-button i:hover{
    cursor: pointer;
    background-color: #bca27e;
    color: #fff;
}

.blank-sort .sort-button:hover {
    left: 31px;
}

.blank-sort .sort-button:hover .subnav {
    display: block;
    z-index: 9999;
}

.blank-sort .sort-button:focus {
    outline: none;
}

.sort-button .subnav {
    position: relative;
    list-style: none;
    background: #e4d3bb;
    box-shadow: 0 0 15px rgba(0,0,0, 0.4);
    margin-top: 2px;
    margin-bottom: 0;
    display: none;
    right: 20px;
}

.blank-sort .subnav li {
    width: 100%;
    height: 40px;
    line-height: 40px;
}

.blank-sort .subnav a {
    text-decoration: none;
    text-align: center;
    color: #000;
    padding: 10px 30px;
}

.blank-sort .subnav li:hover {
    background: #bca27e;
}

.blank-sort .subnav li:hover > a {
    color: #fff;
}
/* End css sort button */

/* Start css container-content */
.container-content {
    height: 20rem;
}
/* End css container-content */

/* Start css footer */
#footer {
    padding: 64px 16px;
    text-align: center !important;
    background: #e4d3bb;
}

.social-media-list {
    font-size: 24px;
    opacity: 0.6;
}

.social-media-list a {
    color: #000;
}

.icon-footer:hover {
    opacity: 0.5;
}

#footer .footer-link {
    margin: 15px 0;
    font-size: 15px;
}

.footer-link a {
    color: #000;

}
/* End css footer */

/* Start Tablet Responsive */
@media (min-width: 46.25em) and (max-width: 63.9375em) {
    
}
/* End Tablet Responsive */

/* Start Mobile Responsive */
@media (max-width: 46.1875em) {
    
}
/* End Mobile Responsive */