* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 100%;
    padding: 0;
}

/* Start css frame big slogan image */
.slogan-image-frame {
    height: 18rem;
    border-bottom: 1px solid #e6e6e6;
    padding: 0;
}

.slogan-image-frame .slogan-image {
    height: 100%;
    width: 100%;
    animation: changeImages 18s infinite;
}

@keyframes changeImages {
    0% {
        background-image: url("/img/slogan-image1.jpg");
    }
    25% {
        background-image: url("/img/slogan-image2.jpg");
    }
    50% {
        background-image: url("/img/slogan-image3.jpg");
    }
    75% {
        background-image: url("/img/slogan-image4.jpg");
    }
    100% {
        background-image: url("/img/slogan-image5.jpg");
    }
}
/* End css frame big slogan image */

/* Start css Toggle switch */
.toggle-switch {
    width: auto !important;
    border-bottom: 1px solid #e6e6e6;
    background: #e4d3bb;
}

.toggle-switch #nav {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0 200px;
}

.toggle-switch #nav li {
    position: relative;
    display: inline-block;
    text-align: center;
}

.toggle-switch #nav li:hover > a {
    cursor: pointer;
    border-bottom: 1px solid #979797;
    background: #bca27e;
    color: #fff;
}

.toggle-switch #nav li:hover .subnav {
    display: block;
}

.toggle-switch #nav > li > a {
    position: relative;
    color: #000;
    text-decoration: none;
    font-size: 18px;
    line-height: 50px;
    padding: 13px 100px 13px 100px;
}

#nav li {
    position: relative;
}

#nav .subnav {
    position: absolute;
    background: #e4d3bb;
    box-shadow: 0 0 15px rgba(0,0,0, 0.4);
    display: none;
}

#nav .subnav > li > a {
    position: relative;
    color: #000;
    padding: 14px 98px 14px 98px;
    text-decoration: none;
    line-height: 50px;
}

#nav .arrow {
    position: absolute;
    border: solid #000;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    top: 20px;
    right: 80px;
}

.toggle-switch #nav li:hover > a > i {
    border: solid #fff;
    border-width: 0 3px 3px 0;
}

#nav .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
/* End css Toggle switch */