<div class="share">
    <a href="#" class="facebook-icon"><i class="icon-footer fa-brands fa-facebook"></i></a>
    <a href="#" class="instagram-icon"><i class="icon-footer fa-brands fa-instagram"></i></a>
    <a href="#" class="snapchat-icon"><i class="icon-footer fa-brands fa-snapchat"></i></a>
    <a href="#" class="pinterest-icon"><i class="icon-footer fa-brands fa-pinterest"></i></a>
    <a href="#" class="twitter-icon"><i class="icon-footer fa-brands fa-twitter"></i></a>
    <a href="#" class="linkedin-icon"><i class="icon-footer fa-brands fa-linkedin"></i></a>
</div>
<div class="credit">Powered by <a class="icon-footer" href="#">NUS</a></div>