<div class="share">
    <a href="#" class="facebook-icon"><i class="icon-footer fa fa-facebook-official"></i></a>
    <a href="#" class="instagram-icon"><i class="icon-footer fa fa-instagram"></i></a>
    <a href="#" class="snapchat-icon"><i class="icon-footer fa fa-snapchat"></i></a>
    <a href="#" class="pinterest-icon"><i class="icon-footer fa fa-pinterest"></i></a>
    <a href="#" class="twitter-icon"><i class="icon-footer fa fa-twitter"></i></a>
    <a href="#" class="linkedin-icon"><i class="icon-footer fa fa-linkedin"></i></a>
</div>
<div class="links">
    <a href="">Cataloge A</a>
    <a href="">Cataloge B</a>
    <a href="">Cataloge C</a>
</div>
<div class="credit">Powered by <a class="icon-footer" href="#">NUS</a></div>