<nav class="toggle-switch">
    <ul id="nav">
        <li>
            <img src="/img/logo-NUS.jpg" alt="" class="logo">
        </li>
        <label for="search-hastag" class="search-container">
            <input type="text" name="search-hastag" id="search-hastag" placeholder="Tìm kiếm hastag">
        </label>
        <li><a href="#">All</a></li>
        <li>
            <a href="#">
                Cataloge A
                <i class="arrow down"></i>
            </a>
            <ul class="subnav">
                <li><a href="#">Cataloge A.1</a></li>
                <li><a href="#">Cataloge A.2</a></li>
                <li><a href="#">Cataloge A.3</a></li>
            </ul>
        </li>
        <li>
            <a href="#">
                Cataloge B
                <i class="arrow down"></i>
            </a>
            <ul class="subnav">
                <li><a href="#">Cataloge B.2</a></li>
                <li><a href="#">Cataloge B.2</a></li>
                <li><a href="#">Cataloge B.3</a></li>
            </ul>
        </li>
        <li>
            <a href="#">
                Cataloge C
            </a>
        </li>
        <li>
            <img src="/img/avatar.jPG" alt="" class="avatar-user">
            <ul class="subnav subnav-user">
                <li><a href="#">Profile</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </li>
    </ul>
</nav>
