<nav class="toggle-switch">
    <ul id="nav">
        <li><a href="#">All</a></li>
        <li>
            <a href="#">
                Cataloge A
            </a>
            <ul class="subnav">
                <li><a href="#">Cataloge A.1</a></li>
                <li><a href="#">Cataloge A.2</a></li>
                <li><a href="#">Cataloge A.3</a></li>
            </ul>
        </li>
        <li>
            <a href="#">
                Cataloge B
            </a>
            <ul class="subnav">
                <li><a href="#">Cataloge B.1</a></li>
                <li><a href="#">Cataloge B.2</a></li>
                <li><a href="#">Cataloge B.3</a></li>
            </ul>
        </li>
        <li>
            <a href="#">
                Cataloge C
            </a>
        </li>
    </ul>
</nav>
