<nav class="toggle-switch" id="toggle-switch">
    <div class="logo-search">
        <img src="/img/logo-NUS.jpg" alt="" class="logo" id="logo">
        <label for="search-hashtag" class="search-container">
            <i id="back-icon" class="back-icon fa fa-chevron-left"></i>
            <input type="text" name="search-hashtag" id="search-hashtag" placeholder="Tìm kiếm hashtag">
            <i id="search-icon" class="search-icon fa fa-search"></i>
            <i id="more-icon" class="more-icon fa fa-align-justify"></i>
        </label>
    </div>
    <ul id="nav">
        <li><a href="#">All</a></li>    
        <li>
            <a href="#">
                Cataloge A
                <i class="arrow down"></i>
            </a>
            <ul class="subnav">
                <li><a href="#">Cataloge A.1</a></li>
                <li><a href="#">Cataloge A.2</a></li>
                <li><a href="#">Cataloge A.3</a></li>
            </ul>
        </li>
        <li>
            <a href="#">
                Cataloge B
                <i class="arrow down"></i>
            </a>
            <ul class="subnav">
                <li><a href="#">Cataloge B.2</a></li>
                <li><a href="#">Cataloge B.2</a></li>
                <li><a href="#">Cataloge B.3</a></li>
            </ul>
        </li>
        <li>
            <a href="#">
                Cataloge C
            </a>
        </li>
    </ul>

    <div class="user_avatar">
        <img src="/img/avatar.jPG" alt="" class="avatar-user" id="avatar-user">
        <ul class="subnav subnav-user" id="subnav-user">
            <li><a href="#">Profile</a></li>
            <li><a href="#">Logout</a></li>
        </ul>
    </div>
</nav>
<div class="blank-sort">
    <button class="sort-button">
        <i class="icon-sort fa fa-sort"></i>
        <ul class="subnav">
            <li><a href="#">Latest</a></li>
            <li><a href="#">Oldest</a></li>
            <li><a href="#">Most view</a></li>
            <li><a href="#">Hashtags</a></li>
        </ul> 
    </button> 
</div>

<div class="container-content">
    <div class="blog-frame">
        <div class="blog-frame-child">
            <i class="more-info-icon material-icons">&#xe5d4;</i>
            <ul class="more-info-subnav">
                <li>
                    <a href="#">
                        <i class="fa fa-flag"></i>
                        Báo cáo
                    </a>
                </li>
            </ul>
            <img src="./img/sun.jpg" alt="">
            <div class="blog-frame-child-introduce-bottom">
                Một số cảnh hoàng hôn tuyệt đẹp trên biển. 
                <a href="#" class="btn-readmore">Xem thêm</a>
            </div>
        </div>
        <div class="blog-frame-child">
            <i class="more-info-icon material-icons">&#xe5d4;</i>
            <ul class="more-info-subnav">
                <li>
                    <a href="#">
                        <i class="fa fa-flag"></i>
                        Báo cáo
                    </a>
                </li>
            </ul>
            <img src="./img/beach.jpg" alt="">
            <div class="blog-frame-child-introduce-bottom">
                Một số cảnh bình minh tuyệt đẹp trên biển. 
                <a href="#" class="btn-readmore">Xem thêm</a>
            </div>
        </div>
        <div class="blog-frame-child">
            <i class="more-info-icon material-icons">&#xe5d4;</i>
            <ul class="more-info-subnav">
                <li>
                    <a href="#">
                        <i class="fa fa-flag"></i>
                        Báo cáo
                    </a>
                </li>
            </ul>
            <img src="./img/beach.jpg" alt="">
            <div class="blog-frame-child-introduce-bottom">
                Một số cảnh bình minh tuyệt đẹp trên biển. 
                <a href="#" class="btn-readmore">Xem thêm</a>
            </div>
        </div>
        <div class="blog-frame-child">
            <i class="more-info-icon material-icons">&#xe5d4;</i>
            <ul class="more-info-subnav">
                <li>
                    <a href="#">
                        <i class="fa fa-flag"></i>
                        Báo cáo
                    </a>
                </li>
            </ul>
            <img src="./img/beach.jpg" alt="">
            <div class="blog-frame-child-introduce-bottom">
                Một số cảnh bình minh tuyệt đẹp trên biển. 
                <a href="#" class="btn-readmore">Xem thêm</a>
            </div>
        </div>
        <div class="blog-frame-child">
            <i class="more-info-icon material-icons">&#xe5d4;</i>
            <ul class="more-info-subnav">
                <li>
                    <a href="#">
                        <i class="fa fa-flag"></i>
                        Báo cáo
                    </a>
                </li>
            </ul>
            <img src="./img/beach.jpg" alt="">
            <div class="blog-frame-child-introduce-bottom">
                Một số cảnh bình minh tuyệt đẹp trên biển. 
                <a href="#" class="btn-readmore">Xem thêm</a>
            </div>
        </div>
        <div class="blog-frame-child">
            <i class="more-info-icon material-icons">&#xe5d4;</i>
            <ul class="more-info-subnav">
                <li>
                    <a href="#">
                        <i class="fa fa-flag"></i>
                        Báo cáo
                    </a>
                </li>
            </ul>
            <img src="./img/flower.jpg" alt="">
            <div class="blog-frame-child-introduce-bottom">
                Những câu chuyện ý nghĩa tryền cảm hứng. 
                <a href="#" class="btn-readmore">Xem thêm</a>
            </div>
        </div>
        <div class="blog-frame-child">
            <i class="more-info-icon material-icons">&#xe5d4;</i>
            <ul class="more-info-subnav">
                <li>
                    <a href="#">
                        <i class="fa fa-flag"></i>
                        Báo cáo
                    </a>
                </li>
            </ul>
            <img src="./img/beach.jpg" alt="">
            <div class="blog-frame-child-introduce-bottom">
                Một số cảnh bình minh tuyệt đẹp trên biển. 
                <a href="#" class="btn-readmore">Xem thêm</a>
            </div>
        </div>
        <div class="blog-frame-child">
            <i class="more-info-icon material-icons">&#xe5d4;</i>
            <ul class="more-info-subnav">
                <li>
                    <a href="#">
                        <i class="fa fa-flag"></i>
                        Báo cáo
                    </a>
                </li>
            </ul>
            <img src="./img/beach.jpg" alt="">
            <div class="blog-frame-child-introduce-bottom">
                Một số cảnh bình minh tuyệt đẹp trên biển. 
                <a href="#" class="btn-readmore">Xem thêm</a>
            </div>
        </div>
        <div class="blog-frame-child">
            <i class="more-info-icon material-icons">&#xe5d4;</i>
            <ul class="more-info-subnav">
                <li>
                    <a href="#">
                        <i class="fa fa-flag"></i>
                        Báo cáo
                    </a>
                </li>
            </ul>
            <img src="./img/beach.jpg" alt="">
            <div class="blog-frame-child-introduce-bottom">
                Một số cảnh bình minh tuyệt đẹp trên biển. 
                <a href="#" class="btn-readmore">Xem thêm</a>
            </div>
        </div>
        <div class="blog-frame-child">
            <i class="more-info-icon material-icons">&#xe5d4;</i>
            <ul class="more-info-subnav">
                <li>
                    <a href="#">
                        <i class="fa fa-flag"></i>
                        Báo cáo
                    </a>
                </li>
            </ul>
            <img src="./img/beach.jpg" alt="">
            <div class="blog-frame-child-introduce-bottom">
                Một số cảnh bình minh tuyệt đẹp trên biển. 
                <a href="#" class="btn-readmore">Xem thêm</a>
            </div>
        </div>
    </div> 
</div>