<nav class="toggle-switch" id="toggle-switch">
    <div class="logo-search">
        <img src="/img/logo-NUS.jpg" alt="" class="logo" id="logo">
        <label for="search-hashtag" class="search-container">
            <i id="back-icon" class="back-icon fa fa-chevron-left"></i>
            <input type="text" name="search-hashtag" id="search-hashtag" placeholder="Tìm kiếm hashtag">
            <i id="search-icon" class="search-icon fa fa-search"></i>
            <i id="more-icon" class="more-icon fa fa-align-justify"></i>
        </label>
    </div>
    <ul id="nav">
        <li><a href="#">All</a></li>    
        <li>
            <a href="#">
                Cataloge A
                <i class="arrow down"></i>
            </a>
            <ul class="subnav">
                <li><a href="#">Cataloge A.1</a></li>
                <li><a href="#">Cataloge A.2</a></li>
                <li><a href="#">Cataloge A.3</a></li>
            </ul>
        </li>
        <li>
            <a href="#">
                Cataloge B
                <i class="arrow down"></i>
            </a>
            <ul class="subnav">
                <li><a href="#">Cataloge B.2</a></li>
                <li><a href="#">Cataloge B.2</a></li>
                <li><a href="#">Cataloge B.3</a></li>
            </ul>
        </li>
        <li>
            <a href="#">
                Cataloge C
            </a>
        </li>
    </ul>

    <div class="user_avatar">
        <img src="/img/avatar.jPG" alt="" class="avatar-user" id="avatar-user">
        <ul class="subnav subnav-user" id="subnav-user">
            <li><a href="#">Profile</a></li>
            <li><a href="#">Logout</a></li>
        </ul>
    </div>
</nav>

    <section class="listAcc" id="listAcc">
        <h1 class="listAcc-heading"> The accounts <span>table </span> </h1>
        <div class="container container-list my-3">
            <table class="listAcc-tb">
                <tr class="listAcc-tr">
                    <th class="listAcc-th">Num</th>
                    <th class="listAcc-th">Name</th>
                    <th class="listAcc-th">Phone number</th>
                    <th class="listAcc-th">Mail</th>
                    <th class="listAcc-th">Date apply</th>
                    <th class="listAcc-th">Role apply</th>
                    <th class="listAcc-th">Action</th>
                </tr>
                <tr class="listAcc-tr">
                    <td class="listAcc-td">1</td>
                    <td class="listAcc-td">Trần Anh Đức</td>
                    <td class="listAcc-td">0909090909</td>
                    <td class="listAcc-td">duc@gmail.com</td>
                    <td class="listAcc-td">03/08/1993</td>
                    <td class="listAcc-td">Viewer</td>
                    <td class="listAcc-td">
                        <button class="listAcc-btn listAcc_btnaccept" id="listAcc_btnaccept"><i class="fa-solid fa-check"></i></button>
                        <button class="listAcc-btn listAcc_btndelete" id="listAcc_btndelete"><i class="fa-solid fa-trash"></i></button>
                    </td>
                </tr>
                <tr class="listAcc-tr">
                    <td class="listAcc-td">2</td>
                    <td class="listAcc-td">Trần Anh Đức</td>
                    <td class="listAcc-td">0909090909</td>
                    <td class="listAcc-td">duc@gmail.com</td>
                    <td class="listAcc-td">03/08/1993</td>
                    <td class="listAcc-td">Viewer</td>
                    <td class="listAcc-td">
                        <button class="listAcc-btn listAcc_btnaccept" id="listAcc_btnaccept"><i class="fa-solid fa-check"></i>
                        </button> <button class="listAcc-btn listAcc_btndelete" id="listAcc_btndelete"><i class="fa-solid fa-trash"></i></button>
                    </td>
                </tr>
                <tr class="listAcc-tr">
                    <td class="listAcc-td">3</td>
                    <td class="listAcc-td">Trần Anh Đức</td>
                    <td class="listAcc-td">0909090909</td>
                    <td class="listAcc-td">duc@gmail.com</td>
                    <td class="listAcc-td">03/08/1993</td>
                    <td class="listAcc-td">Viewer</td>
                    <td class="listAcc-td">
                        <button class="listAcc-btn listAcc_btnaccept" id="listAcc_btnaccept"><i class="fa-solid fa-check"></i></button> <button class="listAcc-btn listAcc_btndelete" id="listAcc_btndelete"><i class="fa-solid fa-trash"></i></button>
                    </td>
                </tr>
                <tr class="listAcc-tr">
                    <td class="listAcc-td">4</td>
                    <td class="listAcc-td">Trần Anh Đức</td>
                    <td class="listAcc-td">0909090909</td>
                    <td class="listAcc-td">duc@gmail.com</td>
                    <td class="listAcc-td">03/08/1993</td>
                    <td class="listAcc-td">Viewer</td>
                    <td class="listAcc-td">
                        <button class="listAcc-btn listAcc_btnaccept" id="listAcc_btnaccept"><i class="fa-solid fa-check"></i></button> <button class="listAcc-btn listAcc_btndelete" id="listAcc_btndelete"><i class="fa-solid fa-trash"></i></button>
                    </td>
                </tr>
                <tr class="listAcc-tr">
                    <td class="listAcc-td">5</td>
                    <td class="listAcc-td">Trần Anh Đức</td>
                    <td class="listAcc-td">0909090909</td>
                    <td class="listAcc-td">duc@gmail.com</td>
                    <td class="listAcc-td">03/08/1993</td>
                    <td class="listAcc-td">Viewer</td>
                    <td class="listAcc-td">
                        <button class="listAcc-btn listAcc_btnaccept" id="listAcc_btnaccept"><i class="fa-solid fa-check"></i></button> <button class="listAcc-btn listAcc_btndelete" id="listAcc_btndelete"><i class="fa-solid fa-trash"></i></button>
                    </td>
                </tr>

            </table>

                <div class="confirmdig confirmdig-hide" id="confirmDialog">
                    <div id="dialogCont" class="dig-container">
                        <div class="dig-header">
                            Confirm Deletion
                        </div>
                        <div id="digbody" class="dig-body">Are you sure you want to remove this account?</div>
                        <div class="dig-footer">
                            <a class="confirmdig-btn btn-delete">Delete</a>
                            <a class="confirmdig-btn btn-cancel" id="btnCancle">Cancel</a>
                        </div>
                    </div>
                </div>

        </div>

    </section>