<nav class="toggle-switch" id="toggle-switch">
    <div class="logo-search">
        <img src="/img/logo-NUS.jpg" alt="" class="logo" id="logo">
        <label for="search-hashtag" class="search-container">
            <i id="back-icon" class="back-icon fa fa-chevron-left"></i>
            <input type="text" name="search-hashtag" id="search-hashtag" placeholder="Tìm kiếm hashtag">
            <i id="search-icon" class="search-icon fa fa-search"></i>
            <i id="more-icon" class="more-icon fa fa-align-justify"></i>
        </label>
    </div>
    <ul id="nav">
        <li><a href="#">All</a></li>    
        <li>
            <a href="#">
                Cataloge A
                <i class="arrow down"></i>
            </a>
            <ul class="subnav">
                <li><a href="#">Cataloge A.1</a></li>
                <li><a href="#">Cataloge A.2</a></li>
                <li><a href="#">Cataloge A.3</a></li>
            </ul>
        </li>
        <li>
            <a href="#">
                Cataloge B
                <i class="arrow down"></i>
            </a>
            <ul class="subnav">
                <li><a href="#">Cataloge B.2</a></li>
                <li><a href="#">Cataloge B.2</a></li>
                <li><a href="#">Cataloge B.3</a></li>
            </ul>
        </li>
        <li>
            <a href="#">
                Cataloge C
            </a>
        </li>
    </ul>

    <div class="user_avatar">
        <img src="/img/avatar.jPG" alt="" class="avatar-user" id="avatar-user">
        <ul class="subnav subnav-user" id="subnav-user">
            <li>
                <a href="#">
                    <i class="fa-solid fa-user"></i>
                    Profile
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    Logout
                </a>
            </li>
        </ul>
    </div>
</nav>

<div class="user-container">
    <img src="/img/avatar.jPG" alt="" class="logo">
    <div class="user-name">
        Mai Văn Ngọc
    </div>
</div>

<div class="new-blog-container">
    <div class="create-blog">
        <div class="avatar-user">
            <img src="/img/avatar.jPG" alt="" class="logo">
        </div>                   
        <div class="create-blog-input" id="create-blog-input">
            Tạo blog mới...
        </div>
    </div>
</div>

<div class="create-blog-container confirmdig-hide" id="create-blog-container">
    <form class="create-blog-form" action="" method="post">
        <div class="create-blog-form-header">
            Tạo blog mới
        </div>
        <div class="create-blog-form-body">
            <label for="blog-name">Tên blog</label>
            <input type="text" id="blog-name" name="blog-name" placeholder="Tên bài blog...">
            
            <label for="cataloge">Cataloge</label>
            <select id="cataloge" name="cataloge">
                <option value="cataloge-A">Cataloge A</option>
                <option value="cataloge-B">Cataloge B</option>
                <option value="cataloge-C">Cataloge C</option>
            </select>   
            
            <label for="blog-image">Ảnh bìa</label>
            <input type="file" id="blog-image" name="blog-image">
            
            <label for="blog-content">Nội dung</label>
            <textarea id="blog-content" name="blog-content" placeholder="Nội dung bài blog..."></textarea>

            <label class="container-report-popup">Publish
                <input type="checkbox" class="checkbox">
                <span class="checkmark"></span>
            </label>
        </div>
        <div class="create-blog-form-footer">
            <button type="button" class="confirmdig-btn btn-cancel" id="btnCancle-create-blog">Hủy</button>
            <button class="confirmdig-btn btn-report" id="btnPost" disabled="true">Đăng</button>
        </div>
    </form>
</div>

<div class="blank-sort">
    <button class="sort-button">
        <i class="icon-sort fa fa-sort"></i>
        <ul class="subnav">
            <li><a href="#">Latest</a></li>
            <li><a href="#">Oldest</a></li>
            <li><a href="#">Most view</a></li>
            <li><a href="#">Hashtags</a></li>
        </ul> 
    </button> 
</div>

<div class="container-content">
    <div class="blog-frame">
        <div class="blog-frame-child">
            <div class="blog-frame-child-introduce-top">
                <p class="author-name">Mai Văn Ngọc</p>
                <div class="status-edit_time">
                    <p class="time-update">28 tháng 8.</p>
                    <i class="fa-solid fa-lock"></i>
                </div>
            </div>
            <i class="more-info-icon material-icons">&#xe5d4;</i>
            <ul class="more-info-subnav">
                <li>
                    <button type="button" class="edit-button">
                        <i class="fa-solid fa-pencil"></i>
                        Chỉnh sửa
                    </button>
                </li>
                <li>
                    <button type="button" class="delete-button">
                        <i class="trash-icon fa-solid fa-trash"></i>
                        Xóa
                    </button>
                </li>
            </ul>
            <img src="./img/sun.jpg" alt="">
            <div class="blog-frame-child-introduce-bottom">
                Một số cảnh hoàng hôn tuyệt đẹp trên biển. 
                <a href="#" class="btn-readmore">Xem thêm</a>
            </div>
        </div>
        <div class="blog-frame-child">
            <div class="blog-frame-child-introduce-top">
                <p class="author-name">Mai Văn Ngọc</p>
                <div class="status-edit_time">
                    <p class="time-update">3 tháng 9.</p>
                    <i class="fa-solid fa-earth-americas"></i>
                </div>
            </div>
            <i class="more-info-icon material-icons">&#xe5d4;</i>
            <ul class="more-info-subnav">
                <li>
                    <button type="button" class="edit-button">
                        <i class="fa-solid fa-pencil"></i>
                        Chỉnh sửa
                    </button>
                </li>
                <li>
                    <button type="button" class="delete-button">
                        <i class="trash-icon fa-solid fa-trash"></i>
                        Xóa
                    </button>
                </li>
            </ul>
            <img src="./img/beach.jpg" alt="">
            <div class="blog-frame-child-introduce-bottom">
                Một số cảnh bình minh tuyệt đẹp trên biển. 
                <a href="#" class="btn-readmore">Xem thêm</a>
            </div>
        </div>
        <div class="blog-frame-child">
            <div class="blog-frame-child-introduce-top">
                <p class="author-name">Mai Văn Ngọc</p>
                <div class="status-edit_time">
                    <p class="time-update">3 tháng 9.</p>
                    <i class="fa-solid fa-earth-americas"></i>
                </div> 
            </div>
            <i class="more-info-icon material-icons">&#xe5d4;</i>
            <ul class="more-info-subnav">
                <li>
                    <button type="button" class="edit-button">
                        <i class="fa-solid fa-pencil"></i>
                        Chỉnh sửa
                    </button>
                </li>
                <li>
                    <button type="button" class="delete-button">
                        <i class="trash-icon fa-solid fa-trash"></i>
                        Xóa
                    </button>
                </li>
            </ul>
            <img src="./img/beach.jpg" alt="">
            <div class="blog-frame-child-introduce-bottom">
                Một số cảnh bình minh tuyệt đẹp trên biển. 
                <a href="#" class="btn-readmore">Xem thêm</a>
            </div>
        </div>
        <div class="blog-frame-child">
            <div class="blog-frame-child-introduce-top">
                <p class="author-name">Mai Văn Ngọc</p>
                <div class="status-edit_time">
                    <p class="time-update">3 tháng 9.</p>
                    <i class="fa-solid fa-earth-americas"></i>
                </div> 
            </div>
            <i class="more-info-icon material-icons">&#xe5d4;</i>
            <ul class="more-info-subnav">
                <li>
                    <button type="button" class="edit-button">
                        <i class="fa-solid fa-pencil"></i>
                        Chỉnh sửa
                    </button>
                </li>
                <li>
                    <button type="button" class="delete-button">
                        <i class="trash-icon fa-solid fa-trash"></i>
                        Xóa
                    </button>
                </li>
            </ul>
            <img src="./img/beach.jpg" alt="">
            <div class="blog-frame-child-introduce-bottom">
                Một số cảnh bình minh tuyệt đẹp trên biển. 
                <a href="#" class="btn-readmore">Xem thêm</a>
            </div>
        </div>
        <div class="blog-frame-child">
            <div class="blog-frame-child-introduce-top">
                <p class="author-name">Mai Văn Ngọc</p>
                <div class="status-edit_time">
                    <p class="time-update">3 tháng 9.</p>
                    <i class="fa-solid fa-earth-americas"></i>
                </div> 
            </div>
            <i class="more-info-icon material-icons">&#xe5d4;</i>
            <ul class="more-info-subnav">
                <li>
                    <button type="button" class="edit-button">
                        <i class="fa-solid fa-pencil"></i>
                        Chỉnh sửa
                    </button>
                </li>
                <li>
                    <button type="button" class="delete-button">
                        <i class="trash-icon fa-solid fa-trash"></i>
                        Xóa
                    </button>
                </li>
            </ul>
            <img src="./img/beach.jpg" alt="">
            <div class="blog-frame-child-introduce-bottom">
                Một số cảnh bình minh tuyệt đẹp trên biển. 
                <a href="#" class="btn-readmore">Xem thêm</a>
            </div>
        </div>
        <div class="blog-frame-child">
            <div class="blog-frame-child-introduce-top">
                <p class="author-name">Mai Văn Ngọc</p>
                <div class="status-edit_time">
                    <p class="time-update">3 tháng 9.</p>
                    <i class="fa-solid fa-earth-americas"></i>
                </div> 
            </div>
            <i class="more-info-icon material-icons">&#xe5d4;</i>
            <ul class="more-info-subnav">
                <li>
                    <button type="button" class="edit-button">
                        <i class="fa-solid fa-pencil"></i>
                        Chỉnh sửa
                    </button>
                </li>
                <li>
                    <button type="button" class="delete-button">
                        <i class="trash-icon fa-solid fa-trash"></i>
                        Xóa
                    </button>
                </li>
            </ul>
            <img src="./img/flower.jpg" alt="">
            <div class="blog-frame-child-introduce-bottom">
                Những câu chuyện ý nghĩa tryền cảm hứng. 
                <a href="#" class="btn-readmore">Xem thêm</a>
            </div>
        </div>
        <div class="blog-frame-child">
            <div class="blog-frame-child-introduce-top">
                <p class="author-name">Mai Văn Ngọc</p>
                <div class="status-edit_time">
                    <p class="time-update">3 tháng 9.</p>
                    <i class="fa-solid fa-earth-americas"></i>
                </div> 
            </div>
            <i class="more-info-icon material-icons">&#xe5d4;</i>
            <ul class="more-info-subnav">
                <li>
                    <button type="button" class="edit-button">
                        <i class="fa-solid fa-pencil"></i>
                        Chỉnh sửa
                    </button>
                </li>
                <li>
                    <button type="button" class="delete-button">
                        <i class="trash-icon fa-solid fa-trash"></i>
                        Xóa
                    </button>
                </li>
            </ul>
            <img src="./img/beach.jpg" alt="">
            <div class="blog-frame-child-introduce-bottom">
                Một số cảnh bình minh tuyệt đẹp trên biển. 
                <a href="#" class="btn-readmore">Xem thêm</a>
            </div>
        </div>
        <div class="blog-frame-child">
            <div class="blog-frame-child-introduce-top">
                <p class="author-name">Mai Văn Ngọc</p>
                <div class="status-edit_time">
                    <p class="time-update">3 tháng 9.</p>
                    <i class="fa-solid fa-earth-americas"></i>
                </div> 
            </div>
            <i class="more-info-icon material-icons">&#xe5d4;</i>
            <ul class="more-info-subnav">
                <li>
                    <button type="button" class="edit-button">
                        <i class="fa-solid fa-pencil"></i>
                        Chỉnh sửa
                    </button>
                </li>
                <li>
                    <button type="button" class="delete-button">
                        <i class="trash-icon fa-solid fa-trash"></i>
                        Xóa
                    </button>
                </li>
            </ul>
            <img src="./img/beach.jpg" alt="">
            <div class="blog-frame-child-introduce-bottom">
                Một số cảnh bình minh tuyệt đẹp trên biển. 
                <a href="#" class="btn-readmore">Xem thêm</a>
            </div>
        </div>
        <div class="blog-frame-child">
            <div class="blog-frame-child-introduce-top">
                <p class="author-name">Mai Văn Ngọc</p>
                <div class="status-edit_time">
                    <p class="time-update">3 tháng 9.</p>
                    <i class="fa-solid fa-earth-americas"></i>
                </div> 
            </div>
            <i class="more-info-icon material-icons">&#xe5d4;</i>
            <ul class="more-info-subnav">
                <li>
                    <button type="button" class="edit-button">
                        <i class="fa-solid fa-pencil"></i>
                        Chỉnh sửa
                    </button>
                </li>
                <li>
                    <button type="button" class="delete-button">
                        <i class="trash-icon fa-solid fa-trash"></i>
                        Xóa
                    </button>
                </li>
            </ul>
            <img src="./img/beach.jpg" alt="">
            <div class="blog-frame-child-introduce-bottom">
                Một số cảnh bình minh tuyệt đẹp trên biển. 
                <a href="#" class="btn-readmore">Xem thêm</a>
            </div>
        </div>
        <div class="blog-frame-child">
            <div class="blog-frame-child-introduce-top">
                <p class="author-name">Mai Văn Ngọc</p>
                <div class="status-edit_time">
                    <p class="time-update">3 tháng 9.</p>
                    <i class="fa-solid fa-earth-americas"></i>
                </div> 
            </div>
            <i class="more-info-icon material-icons">&#xe5d4;</i>
            <ul class="more-info-subnav">
                <li>
                    <button type="button" class="edit-button">
                        <i class="fa-solid fa-pencil"></i>
                        Chỉnh sửa
                    </button>
                </li>
                <li>
                    <button type="button" class="delete-button">
                        <i class="trash-icon fa-solid fa-trash"></i>
                        Xóa
                    </button>
                </li>
            </ul>
            <img src="./img/beach.jpg" alt="">
            <div class="blog-frame-child-introduce-bottom">
                Một số cảnh bình minh tuyệt đẹp trên biển. 
                <a href="#" class="btn-readmore">Xem thêm</a>
            </div>
        </div>
    </div> 

    <div class="confirmdig confirmdig-hide" id="confirmDialog">
        <form id="dialogCont" class="dig-container" action="" method="post">
            <div class="dig-header">
                Báo cáo bài viết
            </div>
            <div id="digbody">
                <div class="dig-body">Bài viết này vi phạm điều lệ nào</div>
                <label class="container-report-popup">Người dùng ảo
                    <input type="checkbox" class="checkbox">
                    <span class="checkmark"></span>
                </label>
                <label class="container-report-popup">Ngôn từ gây thù ghét
                    <input type="checkbox" class="checkbox">
                    <span class="checkmark"></span>
                </label>
                <label class="container-report-popup">Spam
                    <input type="checkbox" class="checkbox">
                    <span class="checkmark"></span>
                </label>
                <label class="container-report-popup">Xung đột tôn giáo
                    <input type="checkbox" class="checkbox">
                    <span class="checkmark"></span>
                </label>
                <label class="container-report-popup">
                    <input type="checkbox" class="checkbox" id="checkbox-textarea">
                    <span class="checkmark"></span>
                    <textarea name="" id="textarea-report" cols="38" rows="5" placeholder="Những điều lệ vi phạm khác..." disabled="true"></textarea>
                </label>
            </div>

            <div class="dig-footer">
                <button type="button" class="confirmdig-btn btn-cancel" id="btnCancle">Hủy</butt>
                <button class="confirmdig-btn btn-report" id="btnSend">Xác nhận</button>
            </div>
        </form>
    </div>

    <div class="confirmdig confirmdig-hide" id="confirmDialogDeleteBlog">
        <form id="dialogCont" class="dig-container" action="" method="post">
            <div class="dig-header">
                Confirm Deletion
            </div>
            <div id="digbody" class="dig-body">Are you sure you want to delete this blog?</div>
            <div class="dig-footer">
                <button class="confirmdig-btn btn-delete">Delete</button>
                <button type="button" class="confirmdig-btn btn-cancel" id="btnCancleDeleteBlog">Cancel</button>
            </div>
        </form>
    </div>
</div>